body {
 background-color: hsl(60, 56%, 91%);
 background-image: linear-gradient(to bottom, hsl(60, 56%, 91%) 0%, #ff99cc 100%);
 font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 height: 100vh
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

.header,
.subfooter {
 text-align: center;
}

.title,
.subheading,
.subfooter {
 margin: 0;
}

.title {
 margin: 10px 0px 10px 0px;
 width: 100%;
 font-size: 48px;
}

.no2 {
 background-color: white;
 border-radius: 10px;
 margin: 0 auto;
 padding: 0px 5px;
}

.btn_click {
 display: block;
 margin: 60px auto;
 padding: 15px 40px;
 font-size: 15px;
 border: none;
 background-color: hsl(340, 60%, 64%);
 border-radius: 20px;
 cursor: pointer;
}

.btn_clickyt {
 display: block; 
 background-color: hsl(340, 60%, 64%);
 font-size: 30px;
 font-weight: bold;
 color: white;
 padding: 10px 30px;
 border-radius: 15px;
 max-width: 200px;
 margin: 0px auto;
 margin-top: 20px;
 text-align: center;
 text-decoration: none;
}

.btn_click:hover,
.btn_click:focus {
 background-color: hsla(340, 60%, 64%, 0.8);
 animation: shake 0.5s ease-in-out both;
}

.btn_click:active {
 background-color: tomato;
 animation: none;
}

@keyframes shake {
 0% { transform: rotate(0deg) translate3d(0, 0, 0); }
 25% { transform: rotate(3deg) translate3d(0, 0, 0); }
 50% { transform: rotate(-3deg) translate3d(0, 0, 0); }
 75% { transform: rotate(1deg) translate3d(0, 0, 0); }
 100% { transform: rotate(0deg) translate3d(0, 0, 0); }
}

/* heart animation */
.heart {
  height: 70px;
  margin: 0 auto;
  width: 70px;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 40px #f20044;
  animation: heart 0.6s linear infinite;
  display: none;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1.0);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart:before {
 content: '';
 position: absolute;
 height: 70px;
 width: 70px;
 background-color: #f20044;
 top: -50%;
 border-radius: 50px;
 box-shadow: -10px -10px 50px #f20044;
}

.heart:after {
 content: '';
 position: absolute;
 height: 70px;
 width: 70px;
 background-color: #f20044;
 right: -50%;
 border-radius: 50px;
 box-shadow: 10px 10px 50px #f20044;
}

.slideshow {
 position: relative;
 width: 100%;
 height: 250px;
 margin: 0px auto;
 margin-bottom: -50px;
 text-align: center;
 overflow: hidden;
 display: none;
}

.slide {
 height: 100%;
 position: absolute;
 width: 100%;
 font-size: 42px;
 display: none;
}
